
.wrapper {
    display: flex;

    height: 100%;
    width: 100%;
    overflow: hidden;
    max-height: 50vh;
}

.boardAvailable{
    display: grid;
    grid-auto-flow: column;

    height: 100%;
    width: 100%;
    overflow: hidden;
}


.view {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.content{
    display: flex;
    flex-direction: column;

    gap: 0;
    overflow: hidden;
    width: clamp(250px, 20vw, 325px);
    background: var(--fabric-background-primary);
    border-radius: 5px;

}