.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--background-1);
    border: var(--fabric-border-primary) 1px solid;
    height: 35px;
    width: 100%;
    border-radius: 5px;
}
.content{
    display: flex;
    align-items: center;
    gap: 4px;
}
.button{
    display: flex;
    align-items: center;
    gap: 4px;
}