.wrapper {
    background: var(--fabric-background-primary)  radial-gradient(var(--fabric-background-secondary) 1px, transparent 0);
    background-size: 20px 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

}