.wrapper {
    width: 500px;
    height: fit-content;

    background-color: var(--background-1);
    border: var(--fabric-border-primary) 1px solid;

    display: grid;
    gap: 4px;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: auto;

    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .2) 2px 2px 4px .1px;
    outline: transparent 2px solid;


    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    /*transform: translateX(-110%);*/
    transform: translate(-50%, -50%);
}



.header {
    background-color: var(--background-2);
    color: var(--fabric-color-secondary);
    font-size: 1rem;
    border-bottom: var(--fabric-border-primary) 1px solid;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    height: 35px;

    cursor: grab;

    transition: color 150ms linear;
}

.header:hover{
    color: #0095FF;
}
.header:active{
    cursor: grabbing;
}
.form{
    padding: 8px;
}