.wrapper {
  width: clamp(250px, 15vw, 525px);
  display: grid;
  align-content: flex-start;
  padding: 4px;
  max-height: 350px;
}

.header {
  margin: 0;
  color: var(--pj-color-secondary);
  font-size: 0.8rem;
  font-weight: 550;
}

.headerWrapper {
  position: sticky;
  top: 0;
  background: var(--pj-background-primary);
}

.option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: none;
  border: none;
  color: var(--pj-color-tertiary);
  border-top: var(--pj-border-primary) 1px solid;
  background: var(--pj-background-primary);
  cursor: pointer !important;
  height: 25px;
  font-size: 0.75rem;
  font-weight: 550;
  transition: 150ms linear;
}

.option > * {
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 550;
}

.option:active {
  color: white;
  background-color: var(--pj-accent-color);
}

.option:hover {
  color: var(--pj-accent-color);
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
