.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 4px;
}

.boardAvailable {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.view {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow: hidden;
  background: var(--pj-background-primary);
  min-width: 250px;
}

.icon {
  transition: 150ms linear;
  background: linear-gradient(to right bottom, white 25%, #333 75%);
  min-width: 13px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.button {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 23px;
  background: var(--pj-border-primary);
}

.options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  width: 100%;
  padding-left: 4px;
}

.options > button{
  border-radius: 3px !important;
  padding: 2px 8px !important;
}
.divider{
  height: 20px;
  background: var(--pj-background-tertiary);
  width: 2px;

}